<a href="https://colab.research.google.com/github/anny17/online-retail-dataset/blob/master/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working on online reatail dataset

In [0]:
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
import io

In [0]:
import seaborn as sns

In [0]:

d=pd.read_csv("https://raw.githubusercontent.com/scheckley/online-retail/master/rfm-segments.csv")

In [7]:
d.shape

(4335, 8)

In [5]:
d.head(5)

,customer,frequency,recency,monetary_value,R_Quartile,F_Quartile,M_Quartile,RFMClass
0,12346.0,1,325,77183.60,4,4,1,441
1,12347.0,182,2,4310.00,1,1,1,111
2,12348.0,27,75,1437.24,3,3,2,332
3,12349.0,72,18,1457.55,2,2,2,222
4,12350.0,16,310,294.40,4,4,4,444

In [8]:
d.tail(10)

,customer,frequency,recency,monetary_value,R_Quartile,F_Quartile,M_Quartile,RFMClass
4325,18273.0,3,2,204.00,1,4,4,144
4326,18274.0,11,30,175.92,2,4,4,244
4327,18276.0,14,43,335.86,2,4,3,243
4328,18277.0,8,58,110.38,3,4,4,344
4329,18278.0,9,73,173.90,3,4,4,344
4330,18280.0,10,277,180.60,4,4,4,444
4331,18281.0,7,180,80.82,4,4,4,444
4332,18282.0,12,7,178.05,1,4,4,144
4333,18283.0,719,3,2039.58,1,1,1,111
4334,18287.0,70,42,1837.28,2,2,1,221

In [9]:
d.describe()

,customer,frequency,recency,monetary_value,R_Quartile,F_Quartile,M_Quartile,RFMClass
count,4335.000000,4335.000000,4335.000000,4335.000000,4335.000000,4335.000000,4335.000000,4335.000000
mean,15298.780392,90.268973,92.208535,2017.050436,2.494348,2.515802,2.500346,277.093195
std,1722.075082,225.205714,100.170816,8919.387033,1.121754,1.122479,1.118472,118.360780
min,12346.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,111.000000
25%,13811.500000,17.000000,17.000000,304.250000,1.000000,2.000000,1.500000,144.000000
50%,15297.000000,41.000000,50.000000,663.610000,2.000000,3.000000,3.000000,244.000000
75%,16778.500000,98.000000,142.000000,1631.475000,3.000000,4.000000,4.000000,344.000000
max,18287.000000,7667.000000,373.000000,279138.020000,4.000000,4.000000,4.000000,444.000000

In [10]:
d.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
customer,4335.0,15298.780392,1722.075082,12346.0,13811.50,15297.00,16778.500,18287.00
frequency,4335.0,90.268973,225.205714,1.0,17.00,41.00,98.000,7667.00
recency,4335.0,92.208535,100.170816,0.0,17.00,50.00,142.000,373.00
monetary_value,4335.0,2017.050436,8919.387033,0.0,304.25,663.61,1631.475,279138.02
R_Quartile,4335.0,2.494348,1.121754,1.0,1.00,2.00,3.000,4.00
F_Quartile,4335.0,2.515802,1.122479,1.0,2.00,3.00,4.000,4.00
M_Quartile,4335.0,2.500346,1.118472,1.0,1.50,3.00,4.000,4.00
RFMClass,4335.0,277.093195,118.360780,111.0,144.00,244.00,344.000,444.00

In [11]:
d.isnull().sum()

customer          0
frequency         0
recency           0
monetary_value    0
R_Quartile        0
F_Quartile        0
M_Quartile        0
RFMClass          0
dtype: int64

In [12]:
d['customer'].value_counts()

17398.0    1
12731.0    1
17861.0    1
14146.0    1
13871.0    1
12710.0    1
15839.0    1
13485.0    1
16712.0    1
17166.0    1
15228.0    1
13986.0    1
12980.0    1
16469.0    1
17941.0    1
16690.0    1
17716.0    1
16747.0    1
14518.0    1
13589.0    1
15298.0    1
17450.0    1
14163.0    1
12617.0    1
17696.0    1
15644.0    1
15856.0    1
13960.0    1
13008.0    1
12458.0    1
          ..
13132.0    1
16555.0    1
14753.0    1
13523.0    1
17926.0    1
17581.0    1
14270.0    1
14929.0    1
13658.0    1
16205.0    1
16566.0    1
14305.0    1
16713.0    1
15886.0    1
15096.0    1
13636.0    1
12648.0    1
12373.0    1
15939.0    1
14869.0    1
18043.0    1
12527.0    1
17962.0    1
17253.0    1
14642.0    1
13751.0    1
13174.0    1
17793.0    1
17779.0    1
12544.0    1
Name: customer, Length: 4335, dtype: int64

In [14]:
d.dtypes

customer          float64
frequency           int64
recency             int64
monetary_value    float64
R_Quartile          int64
F_Quartile          int64
M_Quartile          int64
RFMClass            int64
dtype: object

In [16]:
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

Saving OnlineRetail.xlsx to OnlineRetail.xlsx
User uploaded file "OnlineRetail.xlsx" with length 23715344 bytes

In [0]:
d = pd.read_excel("OnlineRetail.xlsx")

In [19]:
d.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [20]:
d.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [21]:
d.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [27]:
d.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [22]:
d.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [0]:
d['CustomerID'] = d.CustomerID.fillna(d.CustomerID.mean())

In [24]:
d.isnull().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64

In [0]:
d['Description'] = d.Description.fillna("Good")

In [0]:
pd.to_numeric(d, downcast='float')

In [29]:
d.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [0]:

values = d.drop(columns=['InvoiceNo','StockCode','Description','InvoiceDate','UnitPrice','Country'])

In [49]:
values

        Quantity  CustomerID
0            6.0     17850.0
1            6.0     17850.0
2            8.0     17850.0
3            6.0     17850.0
4            6.0     17850.0
5            2.0     17850.0
6            6.0     17850.0
7            6.0     17850.0
8            6.0     17850.0
9           32.0     13047.0
10           6.0     13047.0
11           6.0     13047.0
12           8.0     13047.0
13           6.0     13047.0
14           6.0     13047.0
15           3.0     13047.0
16           2.0     13047.0
17           3.0     13047.0
18           3.0     13047.0
19           4.0     13047.0
20           4.0     13047.0
21           6.0     13047.0
22           3.0     13047.0
23           3.0     13047.0
24           3.0     13047.0
25           3.0     13047.0
26          24.0     12583.0
27          24.0     12583.0
28          12.0     12583.0
29          12.0     12583.0
...          ...         ...
541879       8.0     15804.0
541880       4.0     15804.0
541881      10.0     15804.0
541882      24.0     15804.0
541883      25.0     15804.0
541884      12.0     15804.0
541885      12.0     15804.0
541886      12.0     15804.0
541887       4.0     15804.0
541888      12.0     15804.0
541889      12.0     15804.0
541890       8.0     13113.0
541891      24.0     13113.0
541892      24.0     13113.0
541893      10.0     13113.0
541894      12.0     12680.0
541895      12.0     12680.0
541896      12.0     12680.0
541897       4.0     12680.0
541898       4.0     12680.0
541899       4.0     12680.0
541900       4.0     12680.0
541901       8.0     12680.0
541902      12.0     12680.0
541903       4.0     12680.0
541904      12.0     12680.0
541905       6.0     12680.0
541906       4.0     12680.0
541907       4.0     12680.0
541908       3.0     12680.0

[541909 rows x 2 columns]

In [0]:
d['Quantity']=d.Quantity.astype(int)

In [0]:
d['CustomerID'] = d.CustomerID.astype(int)

In [0]:
d['UnitPrice'] = d.UnitPrice.astype(int)

In [45]:
d.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity              float64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [0]:
target = d.drop(columns=['InvoiceNo','StockCode','Description','InvoiceDate','Quantity','Country','CustomerID'])

In [0]:
values = d.drop(columns=['InvoiceNo','StockCode','Description','InvoiceDate','UnitPrice','Country'])

In [76]:
values

        Quantity  CustomerID
0              6       17850
1              6       17850
2              8       17850
3              6       17850
4              6       17850
5              2       17850
6              6       17850
7              6       17850
8              6       17850
9             32       13047
10             6       13047
11             6       13047
12             8       13047
13             6       13047
14             6       13047
15             3       13047
16             2       13047
17             3       13047
18             3       13047
19             4       13047
20             4       13047
21             6       13047
22             3       13047
23             3       13047
24             3       13047
25             3       13047
26            24       12583
27            24       12583
28            12       12583
29            12       12583
...          ...         ...
541879         8       15804
541880         4       15804
541881        10       15804
541882        24       15804
541883        25       15804
541884        12       15804
541885        12       15804
541886        12       15804
541887         4       15804
541888        12       15804
541889        12       15804
541890         8       13113
541891        24       13113
541892        24       13113
541893        10       13113
541894        12       12680
541895        12       12680
541896        12       12680
541897         4       12680
541898         4       12680
541899         4       12680
541900         4       12680
541901         8       12680
541902        12       12680
541903         4       12680
541904        12       12680
541905         6       12680
541906         4       12680
541907         4       12680
541908         3       12680

[541909 rows x 2 columns]

In [78]:
d

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1,17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1,13047,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2,13047,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2,13047,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3,13047,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1,13047,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4,13047,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4,13047,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9,13047,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5,13047,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5,13047,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7,13047,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7,13047,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4,13047,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4,13047,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4,13047,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4,13047,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5,13047,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3,12583,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3,12583,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3,12583,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0,12583,France
...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3,15804,United Kingdom
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3,15804,United Kingdom
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0,15804,United Kingdom
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0,15804,United Kingdom
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0,15804,United Kingdom
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1,15804,United Kingdom
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0,15804,United Kingdom
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0,15804,United Kingdom
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3,15804,United Kingdom
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0,15804,United Kingdom
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1,15804,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2,13113,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1,13113,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8,13113,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7,13113,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1,12680,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1,12680,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1,12680,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3,12680,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3,12680,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3,12680,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3,12680,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1,12680,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1,12680,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4,12680,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0,12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4,12680,France

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train,x_test,y_train,y_test = train_test_split(values,target,random_state=15,test_size=0.5)

In [0]:
from sklearn.neighbors import KNeighborsClassifier

In [0]:
neigh = KNeighborsClassifier(n_neighbors=2)

In [87]:
neigh.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=2, p=2,
           weights='uniform')

In [0]:
p = neigh.score(x_test,y_test)

In [89]:
p

0.33135022420697163